<h1> Details </h1>
<table>
 	<tr> <td> Renter ID: </td> <td> <%= onerec.renter_id %> </td> </tr>
 	<tr> <td> Name: </td> <td> <%= onerec.name %> </td> </tr>
 	<tr> <td> Vehicle Type: </td> <td> <%= onerec.vehicle_type %> </td> </tr>
 	<tr> <td> status: </td> <td> <%= onerec.status %> </td> </tr>
 	<tr> <td> Number of Vehicle: </td> <td> <%= onerec.num_vehicle %> </td> </tr>
</table>
