<h1> Details </h1>
<table>
 	<tr> <td> Promo Title </td> <td> <%= onerec.promotitle %> </td> </tr>
 	<tr> <td> Promo Image</td> <td> <%= onerec.promoimage %> </td> </tr>
 	<tr> <td> Description </td> <td> <%= onerec.description %> </td> </tr>
 	<tr> <td> Start Date </td> <td> <%= onerec.startdate.toLocaleDateString('en-US') %> </td> </tr>
 	<tr> <td> End Date </td> <td> <%= onerec.enddate.toLocaleDateString('en-US') %> </td> </tr>
 	<tr> <td> Discount Rate </td> <td> <%= onerec.discountrate %> </td> </tr>
</table>
