<h1> Details </h1>
<table>
 	<tr> <td> Vehicle ID: </td> <td> <%= onerec.vehicle_id %> </td> </tr>
 	<tr> <td> Product Image: </td> <td> <%= onerec.prodimage %> </td> </tr>
 	<tr> <td> Description: </td> <td> <%= onerec.description %> </td> </tr>
 	<tr> <td> Duration: </td> <td> <%= onerec.duration %> </td> </tr>
 	<tr> <td> Vehicle Type: </td> <td> <%= onerec.vehicle_type %> </td> </tr>
 	<tr> <td> Daily Fee: </td> <td> <%= onerec.daily_fee %> </td> </tr>
 	<tr> <td> Renter ID </td> <td> <%= onerec.renter_id %> </td> </tr>
 	<tr> <td> Host ID: </td> <td> <%= onerec.host_id %> </td> </tr>
	<tr> <td> Review ID: </td> <td> <%= onerec.review_id %> </td> </tr>
	<tr> <td> Status: </td> <td> <%= onerec.status %> </td> </tr>
	<tr> <td> Featured: </td> <td> <%= onerec.featured %> </td> </tr>
</table>
