<h1> Details </h1>
<table>
 	<tr> <td> Order ID: </td> <td> <%= onerec.saleorder_id %> </td> </tr>
 	<tr> <td> Sale Date: </td> <td> <%= onerec.saledate %> </td> </tr>
 	<tr> <td> Customer ID: </td> <td> <%= onerec.customer_id %> </td> </tr>
	<tr> <td> Vehicle ID: </td> <td> <%= onerec.vehicle_id %> </td> </tr>
	<tr> <td> Sale Price</td> <td> <%= onerec.saleprice %> </td> </tr>
</table>
